/*
+----------------------------------------------------------------+
:: COLORS
+----------------------------------------------------------------+
*/

$background-body: #eaeae0;
$color1: #004a6d;
$color2: #438b3b;
$color3: #282d31;

/*
+----------------------------------------------------------------+
:: FONT
+----------------------------------------------------------------+
*/

$font: 'Ubuntu', serif;